$color-1: #8e508c;
$color-2: #c65d89;
$color-3: #f1767b;
$color-4: #ff9c6a;
$color-5: #ffc861;
$color-6: #f9f871;

$color-bg: rgba(255, 190, 100, 0.486);
$color-ctg: #ffee00c7;
$color-nb: rgba(75, 62, 98, 0.4666666667);
$color-bgc: #f7f7bf56;
$color-btn: #ffee005e;