@import './aux_scss/colors';
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: $color-bg;
    
}
.layout {
    display: grid;
    height: 98vh;
    grid-template-areas: "header header"
                         "pageTitle pageTitle"
                         "sidebar  main"
                         "footer  footer";
    grid-template-rows: 150px 70px 1fr 80px;
    grid-template-columns: .5fr 3fr;
  }
  
  .header { grid-area: header; }
  .pageTitle{ grid-area: pageTitle;}
  .sidebar{ grid-area: sidebar;}
  .main { grid-area: main; }
  .footer { grid-area: footer; }

  .flex-nv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
  }
  .flex-item-nv:nth-child(1) {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  .flex-item-nv:nth-child(2) {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .flex-ctg{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  }
  .flex-item-ctg:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-item-ctg:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-item-ctg:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-item-ctg:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .flex-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }
  
  .flex-item-btn:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-item-btn:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .navbar{
    
    background-color: $color-nb;
    box-shadow: 0px 21px 24px -4px rgba(0,0,0,0.36) inset;-webkit-box-shadow: 0px 21px 24px -4px rgba(0,0,0,0.36) inset;-moz-box-shadow: 0px 21px 24px -4px rgba(0,0,0,0.36) inset;      
}
.icon{
    height: 70px;
    width: auto;
    padding: 1rem;
}
.ctg{
    font-style: none;
    text-decoration: none;
    padding: 1.5rem;
    color: $color-ctg;
    font-size: 25px;
    font-family: "Nerko One", cursive;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #504a00;
  text-shadow: 0px 0px 16px #5f5901c7;
} 

.ctg:hover{
    font-size: 27px;
    text-shadow: -1px 1px 50px rgb(255, 255, 255);}
.btn{
    font-style: none;
    text-decoration: none;
    margin: .5rem;
    font-family: "Nerko One", cursive;
    color: #8b8963d8 !important;
    cursor: pointer;
    font-size: 20px;
    text-shadow: 1px 1px 0px #ffee009a;
    box-shadow: 0px 1px 6px #ffee005e;
    padding: 7px 10px;
    border-radius: 17px;
    border: 1px ridge #837c1dbb;
    background: $color-btn;
    background: linear-gradient(to top, #ffee00a9, #97935fd2);
}

  .btn:hover {
    color: #ffffff !important;
    background: #615f43d8;
    background: linear-gradient(to top, #97935fd2, #ffee00a9);
    transition: 0.3s;
  }

.title{
    text-align: center;
    font-family: "Nerko One", cursive;
    font-size: 3rem;
    color: $color-ctg;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #504a00;
  text-shadow: 0px 0px 16px #5f5901c7;
}
  
.container-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* Esto crea un grid responsive */
  gap: 5rem; /* Espacio entre las cards */
  margin: 3rem;
  justify-content: center; /* Centra el grid en el contenedor */
  align-items: start; /* Alinea los items al principio del contenedor */
  }
  .card-product {
    max-width: 280px;
    min-height: 450px; /* Altura mínima */
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

    padding: 1rem;
    background-color: rgba(172, 154, 177, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 69px -6px rgba(0, 0, 0, 0.41);
    color: #e0d5e6;
    text-align: center;
    font-family: "DynaPuff", cursive;

    h3{
        text-align: center;
    font-family: "Nerko One", cursive;
    font-size: 2rem;
    color: $color-ctg;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #504a00;
  text-shadow: 0px 0px 16px #5f5901c7;
  padding-bottom: 1rem;
    }
    
  }
  .card-product img {
    width: 100%;
    height: auto; /* Altura fija para las imágenes */

    box-shadow: 0px 0px 18px 11px rgba(19,10,20,0.26);
    object-fit: cover;
    }
   


  .card-product p {
    text-align: center;
    margin-top: 1rem;
    color: black;
    font-size: 1rem;
  }
  .card-product .card-footer {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
    color: black;
    font-size: 1rem;
  }

  .btn-quit{
    font-style: none;
    text-decoration: none;
    margin: .5rem;
    font-family: "Nerko One", cursive;
    color: #8b8963d8 !important;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 1px 6px #ffee005e;
    padding: 7px 10px;
    border-radius: 17px;
    border: 1px ridge #837c1dbb;
    background: $color-btn;
    background: linear-gradient(to top, #ffee00a9, #97935fd2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #504a00;
    text-shadow: 0px 0px 16px #5f5901c7;
 
  }
  .btn-add{
    font-style: none;
    text-decoration: none;
    margin: .5rem;
    font-family: "Nerko One", cursive;
    color: #8b8963d8 !important;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 1px 6px #ffee005e;
    padding:  10px;
    border-radius: 17px;
    border: 1px ridge #837c1dbb;
    background: $color-btn;
    background: linear-gradient(to top, #ffee00a9, #97935fd2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #504a00;
    text-shadow: 0px 0px 16px #5f5901c7;
  }
  .btn-add:hover {
    color: #ffffff !important;
    background: #615f43d8;
    background: linear-gradient(to top, #97935fd2, #ffee00a9);
    transition: 0.1s;
  }
  .btn-quit:hover {
    color: #ffffff !important;
    background: #615f43d8;
    background: linear-gradient(to top, #97935fd2, #ffee00a9);
    transition: 0.1s;
  }

  .login{
    max-width: 380px;
  padding: 1rem;
  background-color: #f9f97180;
  border-radius: 10px;
  box-shadow: 0px 0px 69px -6px rgba(0, 0, 0, 0.41);
  color: #727272;
  text-align: auto;
  font-family: "DynaPuff", cursive;
  margin:auto;
  margin-top: 5vh;
    a{
        color: #725c79;
    }
    img{
        height: 25%;
        width: 25%;
        margin-left: 35%;
    }
    .btn{
       margin-left:37%;
    }
}
.text-box{
  font-family: "DynaPuff", cursive;

  width: 100%;
  border-radius: 5px;
  border-style: none;
  padding: 3px;
  box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.49) inset;
  -webkit-box-shadow: 0px 0px 23px 0px $color-5 inset;-moz-box-shadow: 0px 0px 23px 0px $color-6 inset;
  color: #727272;
 
}
.layout-cart{  
  display: flex;
  justify-content:space-around;
  align-items:baseline;
  min-height: 100vh;
  flex-wrap: wrap ;
}
.container-cart{
  width: 80%;
  max-width: 800px;
  background-color: #f9f97180;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 69px -6px rgba(0, 0, 0, 0.41);
  color: #727272;
  font-family: "DynaPuff", cursive;

}
.cart-table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  th, td {
   padding: 10px;
   text-align: left;
  }

   th {
    background-color: #cfcf5d80;
    font-weight: bold;
  }  
  td {
    border-bottom: 1px solid #cfcf5d80;
  }
}
.total {
  width: 90%;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.568);
}
.header-cart{
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 16px;
}
.title-form{
  flex-grow: 1;
  margin: 80px;
  padding: auto;
}

.btn-cart-container{
width: 90%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-end;
  justify-content: space-between;
}

.sidebar{
  width: 100%;
  font-family: "Nerko One", cursive;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 2rem;
  color: black;
  font-size: 1rem;
  align-items: center;
justify-content:flex-start;

   h2{
    text-align: center;
    font-family: "Nerko One", cursive;
    font-size: 2rem;
    color: $color-ctg;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #504a00;
  text-shadow: 0px 0px 16px #5f5901c7;
  padding-bottom: 1rem;
   }
  form{
    align-self: center;
    text-align: center;
    padding: 1rem;
    margin-left: 1rem;
    background-color: rgba(172, 154, 177, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 69px -6px rgba(0, 0, 0, 0.41);
    text-align: center;
    font-family: "DynaPuff", cursive;
  }
  label{
    align-self: center;

  }
  select{
    margin-bottom: 1rem;

    text-align: center;
    font-family: "Nerko One", cursive;
    color: black;
  font-size: 1rem;
  }
  option{
    text-align: center;
    font-family: "Nerko One", cursive;
    color: black;
  font-size: 1rem;
  }
}
.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: "Nerko One", cursive;
  color: rgba(0, 0, 0, 0.87);
background-color: $color-nb;
box-shadow: 0px 21px 24px -4px rgba(0,0,0,0.36) inset;-webkit-box-shadow: 0px 21px 24px -4px rgba(0,0,0,0.36) inset;-moz-box-shadow: 0px 21px 24px -4px rgba(0,0,0,0.36) inset;      
h3{
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
  ul{
    list-style: none;
    color:#ffffff;
  }    
  a{
    text-decoration: none;
    list-style: none;
    color:#ffffff;
  }
}
.redesFooter{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.menuFooter{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.contactoFooter{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.filterCategories{
  text-align: center;
  font-family: "Nerko One", cursive;
  font-size: 2rem;
  color: $color-ctg;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #504a00;
text-shadow: 0px 0px 16px #5f5901c7;
padding-bottom: 1rem;
  a{
    text-decoration: none;
    color: $color-ctg;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #504a00;
    text-shadow: 0px 0px 16px #5f5901c7;
  }
  a:hover{
    color: #ebe9d3;
    font-size: 30px;
    transition: 1s;
  }
  li{
    list-style: none;
    margin-top: 3rem;

  }
}